<html>
    <head>
        <title> 21 Grams memory : your soul in the afterlife</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h2>Your memory has been encapsulated into you soul</h2>
        <br><br>
        <div id ="return"> <form action="/afterlife" ><input class="button" type ="submit" value="Visit the Afterlife" ></form></div>
       
    </body>
</html>